venv/
__pycache__/
*.py[cod]
*.egg-info/
.env
moodledata/
moodle/config.php
moodle/*
!moodle/local/
!moodle/router.php
moodle/local/*
!moodle/local/tella_workshop/
tools/
tella_backend/media/
tella_backend/staticfiles/
*.log
.idea/
.vscode/
.DS_Store
node_modules/
